<!doctype html>
<div class="body-wrapper">
	<div class="main">
		<div class="row feature">
			<div>
				<h2>Become a Shipper</h2>
			</div>
			<div>
				<p class="intro-buyer">Too tired of being asked to get stuff for free? <br>	Or just want to get some money? You are at the right place!
				</p>
			</div>
		</div>
		<div class="row-of-four">
			<app-page4-col-1-4 [title] = "'Create Trip'"
			[content] = "'Choose your destination and travel date to get connected from customers.'"></app-page4-col-1-4>
			<app-page4-col-1-4 [title] = "'Receive Order'"
			[content] = "'After creating travel date, Primor will notify and connect you with all of our users.'"></app-page4-col-1-4>
			<app-page4-col-1-4 [title] = "'Make a deal with Buyer'"
			[content] = "'You then choose any order you want, and make a deal with our customers.'"></app-page4-col-1-4>
			<app-page4-col-1-4 [title] = "'Ship and Get Paid'"
			[content] = "'It is as simple as that! Ship it on time with careful attention and get all the goods!'"></app-page4-col-1-4>
		</div>
		<div class="btn-container">
			<a class="btn-explore" href="#"><p>Explore</p></a>
		</div>
	</div>
</div>
