<div class="body-wrapper">
	<div class="main">
		<div class="row feature">
			<div>
				<h2>Become a Shipper</h2>
			</div>
			<div>
				<p class="intro-buyer">Too tired of being asked to get stuff for free? <br>	Or just want to get some money? You are at the right place!
				</p>
			</div>
		</div>
		<div class="row-of-four">
			<div class="col span-1-of-4 box">
				<i class="icon ion-ios-location-outline icon-big"></i>
				<div class="greeting-explain-text">
					<h3>Create Trip</h3>
				</div>
				<div>
					<p>Choose your destination and travel date to get connected from customers.</p>
				</div>
			</div>
			<div class="col span-1-of-4 box">
				<i class="icon ion-ios-bell-outline icon-big"></i>
				<div class="greeting-explain-text">
					<h3>Receive Order</h3>
				</div>
				<div>
					<p>
						After creating travel date, Primor will notify and connect you with all of our users.
					</p>
				</div>
			</div>
			<div class="col span-1-of-4 box">
				<i class="icon ion-android-checkmark-circle icon-big"></i>
				<div class="greeting-explain-text">
					<h3>Make a deal with Buyer</h3>
				</div>
				<div>
					<p>You then choose any order you want, and make a deal with our customers.</p>
				</div>
			</div>
			<div class="col span-1-of-4 box">
				<i class="icon ion-happy-outline icon-big"></i>
				<div class="greeting-explain-text">
					<h3>Ship and Get Paid</h3>
				</div>
				<div>
					<p>It is as simple as that! Ship it on time with careful attention and get all the goods!</p>
				</div>
			</div>
		</div>
		<div class="btn-container">
			<a class="btn-explore" href="#"><p>Explore</p></a>
		</div>
	</div>
</div>
