<!doctype html>
<div class = "row-full-width main">
	<div class = "row feature mid-bar-1">
		<div id = "primor-header">
			<h1>
				What is Primor?
			</h1>
		</div>
	</div>
	<div class = "row feature mid-bar-2">
		<div id = "primor-content">
			<p>
				unknow text-unknow text-unknow text-unknow text-unknow text-unknow text-unknow
				text-unknow text-unknow texttext-unknowtext
				-unknowtext-unknowtext-unknowtext-unknowtext-unknowtext-unknow
			</p>
		</div>
	</div>
	<div class = "row future mid-bar-4">
		<div class = "row-of-four">
			<app-page2-col-1-4 urlPic = "assets/resources/homepage/02/homepage02-01.png"
			[title]="'Buyer Creates Orders'">
			</app-page2-col-1-4>
			<app-page2-col-1-4 urlPic = "assets/resources/homepage/02/homepage02-03.png"
			[title]="'Shipper Purchases Items'">
			</app-page2-col-1-4>
			<app-page2-col-1-4 urlPic = "assets/resources/homepage/02/homepage02-04.png"
			[title]="'Primor Check Quality'">
			</app-page2-col-1-4>
			<app-page2-col-1-4 urlPic = "assets/resources/homepage/02/homepage02-05.png"
			[title]="'Primor Delivers Items'">
			</app-page2-col-1-4>
		</div>
	</div>
	<div class = "row future mid-bar-5">
		<div class = "btn-container">
			<a class = "btn-explore" href="#menuAnchor3"><p>Become a Buyer</p></a>
			<a class = "btn-explore" href="#menuAnchor4"><p>Become a Shipper</p></a>
		</div>
	</div>
</div>
