<div class = "row-full-width main">
	<div class = "row feature mid-bar-1">
		<div id = "primor-header">
			<h1>
				What is Primor?
			</h1>
		</div>
	</div>
	<div class = "row feature mid-bar-2">
		<div id = "primor-content">
			<p>
				unknow text-unknow text-unknow text-unknow text-unknow text-unknow text-unknow
				text-unknow text-unknow texttext-unknowtext
				-unknowtext-unknowtext-unknowtext-unknowtext-unknowtext-unknow
			</p>
		</div>
	</div>
	<div class = "row future mid-bar-4">
		<div class = "row-of-four">
			<div class = "col span-1-of-4 box">
				<img src="assets/resources/homepage/02/homepage02-01.png" class = "icon"/>
				<div>
					<h2>Buyer Creates Orders</h2>
				</div>
			</div>
			<div class = "col span-1-of-4 box">
				<img src="assets/resources/homepage/02/homepage02-03.png" class = "icon"/>
				<div>
					<h2>Shipper Purchases Items</h2>
				</div>
			</div>
			<div class = "col span-1-of-4 box">
				<img src="assets/resources/homepage/02/homepage02-04.png" class = "icon"/>
				<div>
					<h2>Primor Check Quality</h2>
				</div>
			</div>
			<div class = "col span-1-of-4 box">
				<img src="assets/resources/homepage/02/homepage02-05.png" class = "icon">
				<div>
					<h2>Primor Delivers Items</h2>
				</div>
			</div>
		</div>
	</div>
	<div class = "row future mid-bar-5">
		<div class = "btn-container">
			<a class = "btn-explore" href="#menuAnchor3"><p>Become a Buyer</p></a>
			<a class = "btn-explore" href="#menuAnchor4"><p>Become a Shipper</p></a>
		</div>
	</div>
</div>
