* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	color: #555;
	background-color: #fff;

	font-family: 'Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;

	text-rendering: optimizeLegibility;
}
/* ===========
nav bar
============== */

header {
	height: 50px;
	background-color: #ffffff;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}

.logo {
	height: 45px;
	width: auto;
}

.nav-main {
	float: right;
	list-style: none;
}

.nav-main ul {
	margin: 0;
	padding: 0;
}

.nav-main li{
	display: inline-block;
	margin-left: 45px;
	padding-top: 15px;
}

.nav-main a{
	color: #000000;
	text-decoration: none;
	font-size: 100%;
}
/* ==========
body
========== */

.main{
	height: calc(100vh - 50px);
	width: 100%;
	background-color: #808285;
}

.left-bar{
	float: left;
	width: 5%;
	height: calc(100vh - 50px);
	padding-top: 250px;
}

#parigation {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
}

.right-bar{
	float: right;
	width: 5%;
	height: calc(100vh - 50px);
}

.mid{
	height: calc(100vh - 50px);
	width: 90%;
	float: left;
}
/* mid-bar-1 */

.mid-bar-1{
	width: 100%;
	height: calc(60vh - 50px);
	padding-left: 25%;
	padding-right: 25%;
}

.picture {
	height: calc(60vh - 50px);
}

.icon {
	display: block;
	padding-top: 10%;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: auto;
}
/* mid-bar-2 */

.mid-bar-2{
	height: 20vh;
	padding-left: 25%;
	padding-right: 25%;
}

.w{
	height: 20vh;
	padding-top: 10px;
	text-align: center;
}

.w h1{
	font-size: 300%;
}
/* button */

.mid-bar-3{
	height: 20vh;
	padding-left: 30%;
	padding-right: 30%;
}

.btt-center-div {
	height: 20vh;
	padding-top: 20;
}

.btt-buyer-shipper{
	width: 50%;
	float: left;
	text-align: center;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 100%;
	color: #ffffff;
}

.btn-full{
	background-color: #05c46b;
}

.btn:hover,
.btn:active {
	background-color: #0fbcf9;
}
