<!doctype html>
<div class="body-wrapper">
	<div class="body-content">
		<div class="logo-text">
			<div>
				<h1> Primor </h1>
			</div>
			<div>
				<h2>
					Enthusiasm is excitement with inspiration,<br> motivation, and a pinch of creativity.
				</h2>
			</div>
			<div class="btn-container">
				<a class="btn btn-signin" href="#"><p class="btn-text">Sign In</p></a>
				<a class="btn btn-signup" href="#"><p class="btn-text">Sign Up</p></a>
			</div>
		</div>
	</div>

	<app-policy></app-policy>
	<app-footer></app-footer>
</div>
