<div class="row my-header">
	<div class="col span-1-of-2 main1">
		<ul>
			<li class="col span-1-of-7 header-box item1-container">
				<a href="" class="item1">
					<p>Primor</p>
				</a>
			</li>
			<li class="col span-1-of-7 header-box item2-container"><a href="" class="item2">About</a></li>
			<li class="col span-1-of-7 header-box item3-container"><a href="" class="item3">How It Works</a></li>
			<li class="col span-1-of-7 header-box item4-container"><a href="" class="item4">
				<img src="assets/resources/header/pon_logo.png" alt="">
			</a>
		</li>
		<li class="col span-1-of-7 header-box item5-container"><a href="" class="item5">Create Order</a></li>
		<li class="col span-1-of-7 header-box item6-container"><a href="" class="item6">Create Trip</a></li>
		<li class="col span-1-of-7 header-box item7-container">
			<div class="select-container">
				<select class="item7">
					<option value="English">EN</option>
					<option value="Vietnamese">VN</option>
				</select>
			</div>
		</li>
	</ul>
</div>

<div class="col span-1-of-2 main2 header-box item8-container">
	<a href="#" class="item8">Log In</a> / <a href="#" class="item8">Sign Up</a>
</div>

</div>
