<!DOCTYPE = html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Login</title>
</head>

<body>
	<div class="mid-container">
		<div class="row add-margin-padding-mid-content">

			<div class="row top-content-container">
				<h1>Log In</h1>
			</div>

			<div class="row mid-content-container">
				<div class="col span-1-of-2 box box1">
						<div class="btn">
							<a href="javascript:void(0)"><img src="../../resources/assets/img/global-reusable/facebooklogo.png" alt=""></a>
							<a href="javascript:void(0)"><p>Continue with Facebook</p></a>
						</div>
				</div>
				<div class="col span-1-of-2 box box2 right">
						<div class="btn">
							<a href="javascript:void(0)"><img src="../../resources/assets/img/global-reusable/googlelogo.png" alt=""></a>
							<a href="javascript:void(0)"><p>Continue with Google</p></a>
						</div>
				</div>
			</div>

			<div class="row bottom-content-container">
				<div class="col span-1-of-2 bottom-content left">
					<h2>Returning User</h2>
					<div>
						<form>
							<div class="form-content">
								<p>Email Address</p>
								<input class="input-class" type="text" name="email"><br>
								<p>Password</p>
								<input class="input-class" type="text" name="password"><br>
							</div>
						</form>
					</div>
					<!-- Subscription Checkbox -->
					<div>
						<form class="row checkbox-container">
							<input type="checkbox" id="email-subscription">
							<label class="email-subscription-text" for="email-subscription">
										Remember me
									</label>
						</form>
					</div>
					<!-- Log In Button -->
					<div>
						<a class="bottom-btn btn-log-in" href="#">
							<p class="btn-text">Log In</p>
						</a>
					</div>
					<div class="col forgot-password-container">
						<a class="forgot-password-text" href="javascript:void(0)">Forgot Password?</a>
					</div>
				</div>

				<div class="col span-1-of-2 bottom-content right">
					<h2>New User</h2>
					<!-- Sign Up Button -->
					<div class="intro-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat consequat mauris nunc congue. Fermentum dui faucibus in ornare quam.</p>
					</div>
					<div>
						<a class="bottom-btn btn-sign-up" href="#">
							<p class="btn-text">Sign Up</p>
						</a>
					</div>
				</div>
			</div>

		</div>

	</div>



</body>

</html>
