<!DOCTYPE = html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Login</title>
</head>

<body>
	<div class="mid-container">
		<div class="row add-margin-padding-mid-content">

			<div class="row top-content-container">
				<h1>Log In</h1>
			</div>

			<div class="row mid-content-container">
				<div class="col span-1-of-2 box box1">
					<button class="btn">
						<img src="../../resources/assets/img/global-reusable/facebooklogo.png" alt="">
						<p>Continue with Facebook</p>
					</button>
				</div>
				<div class="col span-1-of-2 box box2">
					<button class="btn">
						<img src="../../resources/assets/img/global-reusable/googlelogo.png" alt="">
						<p>Continue with Google</p>
					</button>
				</div>
			</div>

			<div class="row bottom-content-container">
				<div class="col span-1-of-2 bottom-content">
					<h2>Returning User</h2>
					<div>
						<form>
							<div class="form-content">
								<p>Email Address</p>
								<input class="input-class" type="text" name="email"><br>
								<p>Password</p>
								<input class="input-class" type="text" name="password"><br>
							</div>
						</form>
					</div>
					<!-- Subscription Checkbox -->
					<div>
						<form class="row checkbox-container">
							<input type="checkbox" id="email-subscription">
							<label class="email-subscription-text" for="email-subscription">
										Remember me
									</label>
						</form>
					</div>
				</div>
				<div class="col span-1-of-2 bottom-content">
					<h2>New User</h2>
					<button class="btn2"></button>
				</div>
			</div>

		</div>

	</div>



</body>

</html>
