/* --------------------------------------- */
/* BASIC SETUPS */
/* --------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: #555;
	background-color: #fff;

	font-family: 'Roboto','Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 100;

	text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* HEADERS */
/* --------------------------------------- */

.my-header {
	position: fixed;
	width: 100%;

	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid #e2e1e2;
	height: 58px;
}

/* ------ HEADER LIST ITEMS ------ */

.main1 ul li {
	list-style: none;
	display: inline;
}

.main2 a ,.main1 ul li a {
	text-decoration: none;
	margin-top: 0px;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.header-box {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
}

/* ------ ITEM1 ------ */

p {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.item1 p {
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.item1-container {
	padding-right: 30px;
}

/* ------ ITEM2 ------ */

/* ------ ITEM3 ------ */

/* ------ ITEM4 ------ */

.item4-container {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main1 img {
	height: 45px;
}

/* ------ ITEM5 ------ */

/* ------ ITEM6 ------ */

/* ------ ITEM7 ------ */

.item7-container {
	padding-left: 55px;
}

.item7-container select {
	-webkit-appearance: button;
	-moz-appearance: none;
	appearance: none;       /* remove default arrow */
	background-color: transparent;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 120%;
	color: #000;
}

.select-container::after {
	content: url("../../resources/assets/img/1x/drop-down-select-arrow.png");
	display: block;
	position: absolute;
	left: 33%;
	top: 73%;
}

.select-container {
	position: relative;
	padding: 0;
	margin: 0;
}

/* ------ ITEM8 ------ */

.main2, .main2 a {
	color: #fff;
	letter-spacing: 0.7px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.item8-container {
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: left;
	padding-left: 20px;
}

/* --------------------------------------- */
/* MID CONTENT */
/* --------------------------------------- */

.mid-container {
	position: relative;
	top: 58px;

	width: 100%;
	margin: 0;
	padding: 0;
}

.main1 {
	position: absolute;
	z-index: -1;
	padding: 0;
	margin: 0;
	width: 80%;

}

/* --------------------------------------- */
/* MENU BAR */
/* --------------------------------------- */

.main2 {
	width: 20%;
	position: absolute;
	z-index: 1;
	right: 0px;

	margin: 0;

	background-color: rgb(178,193,190);
}

.menu-list {
	padding-top: 100px;
}

.menu-list li {
	list-style-type: none;
	padding-left: 7px;
	padding-top: 5px;

}

.menu-list a:link, .menu-list a:visited {
	text-decoration: none;

	font-size: 120%;

	color: #fff;
}

.menu-list a p {
	padding-left: 16px;

	letter-spacing: 1px;

	font-size: 90%;
	font-weight: normal;
	line-height: 30px;
}

.menu-list a:active, .menu-list a:hover, .menu-list a:link {
	color: rgb(223, 219, 219);
}

.content-container {
	height: 690px;
	text-align: center;
	padding-top: 300px;
}

.menu-container {
	height: 690px;
}
