/* --------------------------------------- */
/* BASIC SETUPS */
/* --------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color: #555;
	background-color: #fff;

	font-family: 'Roboto','Lato','Arial', sans-serif;
	font-size: 20px;
	font-weight: 100;

	text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* HEADERS */
/* --------------------------------------- */

.add-padding-row {
	position: fixed;

	width: 100%;
	margin: 0px;

	border-bottom: 2px solid #ccc;
}

.box {
	position: relative;

	width: 100px;
	height: 52px;
	margin-top: 0;
	margin-right: 50px;
	margin-bottom: 0;
	padding: 16px 0;

	text-align: center;
}

.box a {
	text-decoration: none;

	color: #000;

	font-size: 100%;
	font-weight: normal;
}

/* ------ PRIMOR ------ */

p {
	margin: 0px;
	padding: 0px;
}

.box1 {
	padding-left: 15px;
}

.box1 p {
	display: block;

	letter-spacing: 0.6px;

	font-size: 120%;
	font-weight: bold;
}

/* ------ LOGO ------ */

.box4 {
	margin-top: 0;
	padding: 0;
	padding-top: 8px;

	text-align: center;
}

.box4 img {
	height: 40px;
}

/* ------ LANGUAGE ------ */

.box7 {
	width: 2%;
	margin-right: 0px;

	font-family: 'Roboto', sans-serif;
}

.box7 select {
	overflow: hidden;

	border: none;

	font-weight: normal;

	-webkit-appearance: none;
}

/* ------ LOG IN SIGN UP ------ */

.box8 {
	float: right;

	width: 300px;
	height: 56px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 16px 0px;
	padding-left: 17px;

	text-align: left;

	color: #fff;
	background-color: rgb(178,193,190);

	font-weight: normal;
}

.box8 a {
	color: #fff;
}

/* --------------------------------------- */
/* MENU BAR */
/* --------------------------------------- */

.main2 {
	float: right;

	width: 300px ;
	margin: 0;

	background-color: rgb(178,193,190);
}

.menu-list {
	padding-top: 100px;
	padding-bottom: 100vh;
}

.menu-list li {
	list-style-type: none;
}

.menu-list a:link, .menu-list a:visited {
	text-decoration: none;

	color: #fff;
}

.menu-list a p {
	padding-left: 16px;

	letter-spacing: 0.6px;

	font-size: 90%;
	font-weight: normal;
	line-height: 30px;
}

.menu-list a:active, .menu-list a:hover, .menu-list a:link {
	color: rgb(126, 126, 126);
}

/* ------ OPTIONAL ------ */

.menu-list a p::before {
	position: relative;
	top: 17px;
	left: -160px;

	display: block;

	width: 15px;
	height: 3px;
	margin: 0 auto;

	content: "";

	border-radius: 2px;
	background-color: rgb(182, 182, 182, 0.5);
}

.sett {
	position: relative;
}
