<div class="body-wrapper">
	<!-- TOP BODY CONTENT -->
	<div class="row">
		<div class="col span-1-of-6 page-number">
			<h1>01</h1>
		</div>
		<div class="col span-2-of-6 right-side-text">
			<div>
				<h2>What <br> is <br> Primor ?</h2>
			</div>
		</div>
		<div class="col span-2-of-6 circle-orange-container">
			<img src="assets/resources/front-page/front-page1/circle-orange-1.png">
		</div>
	</div>
	<!-- BOTTOM BODY CONTENT -->
	<div class="row feature">
		<div class="col span-2-of-6 circle-blue-container">
			<img src="assets/resources/front-page/front-page1/circle-blue-1.png">
		</div>
		<div class="col span-2-of-6 giun-container">
			<img src="assets/resources/front-page/front-page1/giun-1.png">
		</div>
		<div class="col span-2-of-6 explain-text-container">
			<p>A platfrom <br> to connect travelers <br> who are willing to "xach tay" <br> and people in Vietnam <br> who need to buy stuffs <br> in foreign countries</p>
		</div>
	</div>
	<!-- ARROW  -->
	<!-- <div class="row arrow-containter">
	<a href="javascript:void(0)">
	<img src="assets/resources/global-reusable/2-down-arrow.png" alt="">
</a>
</div> -->
</div>
