h2 {
	margin-bottom: 15px;

	text-align: center;

	font-size: 110%;
	font-weight: 300;
}

.box {
	margin-top: 4%;
	text-align: center;
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 80%;
}
