/* --------------------------------------- */
/* WRAPPERS */
/* --------------------------------------- */

.body-content {
	position: absolute;
	top: 72px;
	left: 50%;
	/* USE JQUERY TO ADJUST */
	margin: auto;

	width: 70%;
	height: 100vh;

	transform: translate(-50%,0);
}

.body-wrapper {
	position: relative;

	height: 100vh;
}

/* --------------------------------------- */
/* CONTENTS */
/* --------------------------------------- */

.card-number {
	width: 340px;
}

.full-name {
	width: 340px;
}

.exp-date {
	display: inline-block;
	float: left;
	width: 190px;
	margin-right: 10px;
}

.CVV {
	display: inline-block;
	width: 140px;
}

.country {
	display: block;

	width: 340px;
	height: 44px;
	padding-top: 11px;
	padding-right: 40px;
	padding-bottom: 11px;
	font-weight: 500;

	color: #ccc;
	border-radius: 0px;
	background-color: transparent;
}

.adjust-margin {
	margin: 20px 0;
	margin-bottom: 10px;
}

/* --------------------------------------- */
/* BUTTONS */
/* --------------------------------------- */

.btn-save:link, .btn-save:visited {
	width: 340px;
	margin-left: 0;

	color: #fff;
	background-color: #34495e;
}

.btn-save:hover, .btn-save:active {
	background-color: #283848;
}

/* --------------------------------------- */
/* HEADINGS */
/* --------------------------------------- */

h3 {
	display: block;

	margin-bottom: 15px;

	letter-spacing: 1px;

	font-size: 150%;
	font-weight: 700;
}

p {
	display: block;

	margin: 5px 0px;

	letter-spacing: 1px;

	font-size: 90%;
	font-weight: 700;
	line-height: 145%;
}
