/* --------------------------------------- */
/* WRAPPERS */
/* --------------------------------------- */

.body-content {
	position: absolute;
	top: 72px;
	left: 50%;
	/* USE JQUERY TO ADJUST */

	width: 900px;
	height: 100vh;

	transform: translate(-50%,0);
}

.body-wrapper {
	position: relative;

	height: 100vh;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

/* --------------------------------------- */
/* TOP TEXT */
/* --------------------------------------- */

.top-text {
	padding: 35px 0;

	text-align: center;
}

/* --------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------- */

.how-it-works-container {
	border: 1px solid #ccc;
}

.how-it-works-img {
	display: inline-block;
	float: right;

	width: 50%;
	height: 100%;
	margin: 0;
}

.img-resize {
	width: 100%;
	height: 100%;
}

.how-it-works-resize {
	display: inline-block;

	width: 50%;
}

.numb-container {
	position: absolute;

	display: inline-block;
	float: left;

	width: 10%;
	height: 100px;
	margin: 20px 0 0 10px;
	padding: 10px 0 0 0;
}

.how-it-works-inside-text {
	display: inline-block;

	width: 82%;
	margin: 20px 20px 20px 40px;
	padding: 10px;
}

/* --------------------------------------- */
/* CREATE ORDER */
/* --------------------------------------- */

.paste-link-text {
	margin: 20px 0 ;

	font-size: 87%;
}

.url-box {
	display: inline-block;

	width: 78%;
}

.scan-box {
	display: inline-block;

	width: 21%;
	padding: 0;
}

/* BUTTON */

.btn-scan:link, .btn-scan:visited {
	width: 193px;
	margin-left: 0;

	color: #fff;
	background-color: #34495e;
}

.btn-scan:hover, .btn-scan:active {
	background-color: #283848;
}

/* Manually Add */

.add-manually {
	margin: 20px 0;
}

/* --------------------------------------- */
/* HEADINGS */
/* --------------------------------------- */

h3 {
	display: block;

	margin-bottom: 15px;

	letter-spacing: 1px;

	font-size: 150%;
	font-weight: 700;
}

p {
	display: block;

	letter-spacing: 1px;

	font-size: 90%;
	line-height: 145%;
}
