* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	background-color: #ffffff;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}
/* ===========
nav bar
============== */
header {
	height: 50px;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}

.logo {
	height: 45px;
	width: auto;
}

.nav-main {
	float: right;
	list-style: none;
}

.nav-main ul {
	margin: 0;
	padding: 0;
}

.nav-main li{
	display: inline-block;
	margin-left: 45px;
	padding-top: 15px;
}

.nav-main a{
	color: #000000;
	text-decoration: none;
	font-size: 100%;
}
/* ==========
body
========== */
.main{
	height: 95vh;
	background-color: #808285;
}

.left-bar{
	float: left;
	width: 5%;
	height: 95vh;
	padding-top: 250px;
}

#parigation {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
}

.right-bar{
	float: right;
	width: 5%;
	height: 95vh;
}

.mid{
	height: 95vh;
	width: 90%;
	float: left;
	/* background-color: green; */
}

.pic{
	width: 100%;
	height: 60vh;
	padding-top: 50px;

}

.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.word{
	width: 100%;
	height: 15vh;
}
/* button  */
.button{
	height: 20vh;
	width: 100%;
	padding-top: 30px;
	padding-left: 30%;
	padding-right: 30%;
}

.btt-center {
	height: 20vh;
	width: 100%;
}

.b1{
	width: 50%;
	float: left;
	text-align: center;
}

.b2{
	width: 50%;
	float: left;
	text-align: center;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 100%;
	color: #ffffff;
}

.btn-full{
	background-color: #05c46b;
}

.btn:hover,
.btn:active {
	background-color: #0fbcf9;
}
