<!DOCTYPE html>

<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="home-page-2.css">
	<link rel="stylesheet" type="text/css" href="../../resources/vendors/css/roboto.css">
	<title>Page Pon Shipper</title>
</head>

<body>
	<div class="body-wrapper">
		<!-- TOP BODY CONTENT  -->
		<div class="section-features">
			<div class="row feature">
				<div class="col span-1-of-6 page-number">
					<h1>02</h1>
				</div>
				<div class="col span-4-of-6 giun">
					<img src="../../resources/assets/img/giun2.png" alt="">
				</div>
			</div>
		</div>
		<!-- BOTTOM BODY CONTENT  -->
		<div class="row-of-three">
			<div class="col span-1-of-3 box">
				<div class="greeting-explain-text">
					<h3>HOW <br> IT <br> WORKS</h3>
				</div>
			</div>
			<div class="col span-1-of-3 box">
				<p>For Shipper</p>
				<img src="../../resources/assets/img/forshippers-01.png" class="img">
			</div>
			<div class="col span-1-of-3 box">
				<p>For Buyers</p>
				<img src="../../resources/assets/img/forbuyers-01.png" class="img">
			</div>
		</div>
	</div>
</body>

</html>
