
<div class="menu-wrapper">
	<ul class="menu">
		<li data-menuanchor="menuAnchor1" class="active" ><a href="#menuAnchor1"></a></li>
		<li data-menuanchor="menuAnchor2"><a href="#menuAnchor2"></a></li>
		<li data-menuanchor="menuAnchor3"><a href="#menuAnchor3"></a></li>
		<li data-menuanchor="menuAnchor4"><a href="#menuAnchor4"></a></li>
		<li data-menuanchor="menuAnchor5"><a href="#menuAnchor5"></a></li>
		<li data-menuanchor="menuAnchor6"><a href="#menuAnchor6"></a></li>
	</ul>
</div>

<div [mnFullpage]="options">
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page1></app-page1>
		</div>
	</div>
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page2></app-page2>
		</div>
	</div>
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page3></app-page3>
		</div>
	</div>
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page4></app-page4>
		</div>
	</div>
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page5></app-page5>
		</div>
	</div>
	<div class="section fp-section fp-table">
		<div class="fp-tableCell">
			<app-page6></app-page6>
		</div>
	</div>
</div>
<app-header></app-header>
