<!doctype html>
<div class = "row body-wrapper">
	<div class = "row-full-width main">
		<div class = "row feature mid-bar-1">
			<div id = "recent-order-header">
				<h1>
					Recent Orders
				</h1>
			</div>
		</div>
		<div class = "row feature mid-bar-2">
			<div id = "recent-order-content">
				<p>
					unknow text-unknow text-unknow text-unknow text-unknow text-unknow text-unknow
				</p>
			</div>
		</div>
		<div class = "row feature mid-bar-3">
			<div class = "row-of-3">
				<div class = "col span-1-of-3 box">
					<h1>Test</h1>
				</div>
				<div class = "col span-1-of-3 box">
					<h1>Test</h1>
				</div>
				<div class = "col span-1-of-3 box">
					<h1>Test</h1>
				</div>
			</div>
		</div>

		<div class = "row future mid-bar-4">
			<div class = "btn-container">
				<a class = "btn-explore" href="#"><p>Create Your Orders</p></a>
			</div>
		</div>
	</div>
</div>
